
.gh-space {
  display: flex;
  transition: all 0.2s ease-in-out;
  gap: 32px;
  .size-m {
    gap: 24px;
  }
  .dir-vertical {
    flex-direction: column;
  }
}

.title__name {
  font-size: 32px;
  line-height: 1.34;
  font-weight: 600;
}